<%- include(`../partials/head`) %>
  <title>adminAddMobile</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <script type="module" src="/javascript/fireBaseClient.js"></script>
  <%- include(`../partials/adminHeader`) %>

  <h3 id="amchoose"> Choose Category</h3>

  <a id="amAnchor1" href="/Admin/addMobile/Second-Hand" >Add Second-Hand Mobile</a>

  <a id="amAnchor2" href="/Admin/addMobile/New" >Add New Mobile</a>

  <a id="amAnchor3" href="/Admin/addMobile/Accessory" >Add Accessory</a>
  
  
  

</body>
</html>