<%- include(`../partials/head`) %>
  <title>adminrepair</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <%- include(`../partials/adminHeader`) %>

  <a id="Ra" href="/Admin/repair/Add/Queue">Add Repair Queue</a>
  
  <a id="Ra" href="/Admin/repair/Update/Queue">Update Repair Queue</a>

</body>
</html>