

/* Image slider 108 to 163*/

#imageSlider{
  margin-top: 8vh;
  width: 100%;
  aspect-ratio: 16 / 9;  /* or whatever ratio your images are */
 
  overflow: hidden;
}
.carousel {
  position:relative;
   width: 100%;
  
   height: 100%;
    
  }
  
.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    
 
}
  
.carousel-track img {
    width: 100%;
    flex-shrink: 0;
    
    object-fit: cover;
   
    
}
  /* Dots inside the image */
.carousel-dots {
    position: absolute;
    bottom: 0.9rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
   
  }
  
.dot {
    width: 1vh;
    height: 1vh;
    background-color: rgb(21, 21, 21);
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
  
  /* Active dot (larger and more visible) */
.dot.active {
    width: 1.5vh;
    height: 1.5vh;
    opacity: 1;
    position:relative;
    bottom: 0.25vh;
    
}
  /* Dots with text characters */
  

/* Card for SH and A 180 to */

#CardWrapperSH{
background: #e5e5e9;

}

.CardSectionSHA {
  background: #f0f0f3;
  height: auto;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
  scroll-padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

#cardHeadingSHA{
  font-size: 7vw;
  margin-top: 1vh;
  
  color: #0e192a;
}


.CardSectionSHA::-webkit-scrollbar {
  display: none;
}


/* test */
.MobileCardSHA {
  border-radius: 14px;
  background: #f0f0f3;
  box-shadow: 3px 3px 5px #cccccf, -3px -3px 5px #ffffff;

  width: 44vw;
  padding: 0.6rem;;
  scroll-snap-align: start;
  position: relative;
  
}

/* Logo at top-left */

.cardLogoSHA {
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width:5rem;
  height:0.8rem;
  font-size: 2.5vw;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

/* Main image */
.mobileImage {
 
 
  width: 100%;
  height: auto;
  border-radius: 6px;
 
}

/* Name + USED badge */

.mobilenNameSHA {
  
  font-size: 4.5vw;
  height: 10vw;
  color: #0e192a;
  flex: 1;
  word-break: break-word;
}
.statusBadgeSHA {
  position: absolute;
  display: inline-block;
  background-color: #323a40;
  color:#e0e0e0 ;
  font-size: 2.5vw;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  /* white-space: nowrap; */
  top:0.3rem ;
  right: 0.5rem;
  
  
}

/* Condition */
.mobilecConditionSHA {
  font-size: 3.5vw;
  color: #454545;
  margin-top: 0.5vh;
}

/* Discount center big */
.mobileDiscountSHA {
  text-align: center;
  font-size: 5.5vw;
  color: #d32f2f;
  font-weight: bold;
  margin-top: 0.6vh;
}

/* MRP with line */
.mobileMRPSHA {
  text-decoration: line-through;
  color: #454545;
  font-size: 4vw;
  margin-top: 0.5vh;
  margin-left: 0.4rem;
}

.MRPflex{
  display: flex;
}
.cardMRPSHA{
  color: #09101f;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 0.5vh;
}
/* Final price and buy button row */
.pricBuyRow {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}



.finalPriceWrap {
  position: relative;
  display: inline-block;
}

.finalPriceSHA {
  position: relative;
  left: -1rem;
  color: #f5f7f8;
  background-color: #0e192a;
  padding: 0.3rem 1rem;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  
  font-size: 5vw;
  font-weight: bold;
  z-index: 1;
}

.cornerRibbonLeftSHA {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;  /* half corner */
  border-color: transparent transparent #213452 transparent;
  position: relative;
  bottom: 0;
  left: -1rem;
  z-index: 2;
  transform: rotate(-90deg);
 
}

.buyButtonSHA {
  background-color: #323a40;
  color: #f5f7f8;
  border: none;
  padding: 0.5rem 0.7rem;
  font-size: 4vw;
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 0.3rem;
  cursor: pointer;
 margin-bottom: 5%;
 z-index: 3;
}

/* test N */

#CardWrapperN{
  background: #323a40;
  margin-bottom: 0;
  }
  
  .CardSectionN {
    background: #323a40;
    height: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    scroll-padding: 1rem;
    -webkit-overflow-scrolling: touch;
  }
  
  #cardHeadingN{
    font-size: 7vw;
    margin-top: 1vh;
    
    color: #f0f0f3;
  }
  
  
  .CardSectionN::-webkit-scrollbar {
    display: none;
  }
  
.MobileCardN {
  border-radius: 14px;
  background: #323a40;
  box-shadow:  5px 5px 5px #202529,
               -5px -5px 5px #444f57;

  width: 44vw;
  padding: 0.6rem;;
  scroll-snap-align: start;
  position: relative;
  
}

/* Logo at top-left */

.cardLogoN {
  position: absolute;
  left: 0.3rem;
  top: 0.2rem;
  width:5rem;
  height:0.8rem;
  font-size: 2.5vw;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

/* Main image */
.mobileImage {
  width: 100%;
  height: auto;
  border-radius: 6px;
 
}

/* Name + USED badge */

.mobilenNameN {
  
  font-size: 5vw;
  height: 10vw;
  color: #f0f0f3;
  flex: 1;
  word-break: break-word;
}
.statusBadgeN {
  position: absolute;
  display: inline-block;
  background-color: #f0f0f3;
  color:#323a40 ;
  font-size: 2.5vw;
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  /* white-space: nowrap; */
  top:0.3rem ;
  right: 0.5rem;
  font-weight:bolder;
  
  
}


/* Discount center big */
.mobileDiscountN{
  text-align: center;
  font-size: 6vw;
  color: #ff5c5c;
  font-weight: bold;
  margin-top: 0.3vh;
  font-weight: bolder;
}

/* MRP with line */
.mobileMRPN {
  text-decoration: line-through;
  color: #f0f0f3;
  font-size: 4vw;
  margin-top: 0.5vh;
  margin-left: 0.4rem;
}

.MRPflex{
  display: flex;
}
.cardMRPN{
  color: #aaaaaa;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 0.5vh;
}
/* Final price and buy button row */
.pricBuyRow {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
}



.finalPriceWrap {
  position: relative;
  display: inline-block;
}

.finalPriceN {
  position: relative;
  left: -1rem;
  color: #0e192a;
  background-color: #e0e0e0;
  padding: 0.3rem 1rem;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  
  font-size: 5vw;
  font-weight: bold;
  z-index: 1;
}

.cornerRibbonLeftN {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;  /* half corner */
  border-color: transparent transparent #f5f7f8 transparent;
  position: relative;
  bottom: 0;
  left: -1rem;
  z-index: 2;
  transform: rotate(-90deg);
 
}

.buyButtonN{
  background-color: #f5f7f8;
  color: #09101f;
  border: none;
  padding: 0.5rem 0.7rem;
  font-size: 4vw;
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 0.3rem;
  cursor: pointer;
 margin-bottom: 5%;
 z-index: 3;
}







  


  /* Card for A  */

#CardWrapperA{
    background: #f0f0f3;
    margin-top: 0;
    
}
#cardHeadingA{
  font-size: 7vw;
  margin-top: 1vh;
  margin-left: 5vw;
  color: #323a40;
  
}    


.mobilenNameSHA {
  
  font-size: 5vw;
  height: 10vw;
  color: #0e192a;
  flex: 1;
  word-break: break-word;
}




/* Discount center big */
.mobileDiscountA {
  text-align: center;
  font-size: 6vw;
  color: #d32f2f;
  font-weight: bold;
  margin-top: 0.3vh;
}


.CardSectionA::-webkit-scrollbar {
  display: none;
}

#test{
  width: 100vw;
}

/* Reset wrapper div spacing */
#CardWrapperSH, #CardWrapperN, #CardWrapperA {
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
}


/* Details tag */
.detailsOverlay {
  position: absolute;
  background: transparent;
  border: none;
  text-indent: -9999px; /* Hide any text inside */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Lower than buy button */
}


/* View all button */

.sectionHeadingSHA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.viewAllLinkSHA {
  display: flex;
  box-shadow: 3px 3px 5px #9d9d9d, -3px -3px 5px #fcfcfc;
  align-items: center;
  font-size: 3.5vw;
  text-decoration: none;
  color: #0e192a;
  font-weight: bold;
  gap: 0.6vh;
  margin-top: 2vw;
  height: 3vh;
  border-radius: 1vh;
  justify-content: center;
  width: 20vw;
}

.viewAllLinkSHA i {
  font-size: 4vw;
}

.sectionHeadingN {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.viewAllLinkN {
  display: flex;
  box-shadow:  3px 3px 5px #202529,
  -3px -3px 5px #444f57;
  align-items: center;
  font-size: 3.5vw;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  gap: 0.6vh;
  margin-top: 2vw;
  height: 3vh;
  border-radius: 1vh;
  justify-content: center;
  width: 20vw;
}

.viewAllLinkN i {
  font-size: 4vw;
}